@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #000033;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: #000033;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  cursor: default;
  text-transform: uppercase;
}

.navbar a {
  font-size: 0.8rem;
  color: white;
  margin-left: 0.8rem;
  transition: 0.5s ease;
}

.navbar a:hover {
  color: #00aaff;
}

#menu-icon {
  font-size: 1.2rem;
  color: white;
  display: none;
}

section {
  min-height: 100vh;
  padding: 1rem 9% 2rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.home-img {
  display: flex;
  flex: 1;
}

.home-img img {
  border-radius: 50rem;
  margin-left: auto;
  min-width: 250px;
  width: 25vw;
}

.home-content h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

span {
  color: #00aaff;
}

.home-content h1 {
  font-size: 3rem;
  font-weight: 700;
}

main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .social-media {
  height: 100%;
  display: flex;
}

main aside .social-media ul {
  padding: 1.5rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: auto;
  background-color: transparent;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main aside .social-media li {
  list-style-type: none;
}

main aside .social-media li a {
  text-decoration: none;
  font-size: 1.7rem;
  color: white;

  transition: all 0.1s ease-in-out;
}

main aside .social-media li a:hover {
  color: #00aaff;
}

.portofolio {
  background-color: #323946;
}

.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: #39393b;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
}

.card__image-container {
  border-radius: 5%;
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
  position: relative;
}

.card__image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__content {
  padding: 20px;
}

.card__title {
  margin-bottom: 20px;
}

.card__info {
  display: flex;
  align-self: end;
  align-items: center;
}

.card__price {
  margin-left: auto;
  padding: 5px 20px;
  background-color: #303032;
  border-radius: 20px;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin: 1.4rem;
}

.skill h2 {
  margin-bottom: 3rem;
}

.skill-container {
  display: grid;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.skill-container .skill-box {
  background-color: #323946;
  padding: 2rem 3rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.1rem solid #1f242d;
  transition: 0.5s ease;
}

.skill-container .skill-box:hover {
  border-color: #00aaff;
  transform: scale(1.02);
}

.skill-box i {
  font-size: 5rem;
  color: #00aaff;
}

.contact {
  background-color: #323946;
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 50rem;
  margin: 0.8rem auto;
  margin-bottom: 2rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  background: #000033;
  border-radius: 1rem;
  margin: 0.8rem 0;
}

.contact form .input-box input {
  width: 100%;
}

.contact form textarea {
  resize: none;
}

.btn {
  padding: 0.8rem 1rem;
  margin-block-start: 1rem;
  font-weight: 500;
  font-size: 0.6rem;
  color: white;
  border: 2px solid transparent;
  border-radius: 999px;
  background-color: #00aaff;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.btn:hover {
  border: 2px solid #00aaff;
  color: #00aaff;
  background-color: transparent;
}

.profile h2 {
  margin-bottom: 5rem;
}

.card-container {
  background-color: #323946;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 50px;
  position: relative;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.card-container .round {
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 5px;
  width: 20%;
}

.round h3 h6 p {
  margin-top: 4rem;
}


.skills {
  background-color: #000033;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0 7px 7px 0;
  padding: 7px;
}


footer {
  background-color: #323946;
  text-align: center;
  padding: 0.8rem 0;
  margin-top: 2rem;
}

footer .credit {
  font-size: 0.7rem;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1200px) {
  html {
    font-size: 75%;
  }
  .home-img img {
    margin: auto;
    min-width: 250px;
    width: 350px;
  }
  .card {
    grid-column-end: span 6;
  }
  footer .credit {
    font-size: 0.9rem;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .card {
    grid-column-end: span 12;
  }
  .skill {
    padding-bottom: -2rem;
  }
  .contact {
    min-height: auto;
  }
  footer {
    padding: 2rem 3%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: #323946;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 1.2rem;
    margin: 2rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h2 {
    font-size: 3rem;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .home-img img {
    width: 30vw;
    margin-top: 5rem;
  }

  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }

  .card {
    grid-column-end: span 6;
  }

  .skill h2 {
    margin-top: -2rem;
  }
  .profile-box img {
    width: 20vw;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 45%;
  }
  .contact form .input-box input {
    width: 100%;
  }
  .home-img img {
    width: 60vw;
  }
  .profile-box img {
    width: 20vw;
  }
  .skill i {
    grid-template-columns: repeat(3, 1fr);
  }
}
